html,
body {
    height: 100%;
    background-color: #ffd941;
    color: white;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    text-decoration: none;
}
nav h1{
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

h2{
    font-size: 30px;
    color: white;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

h3{
    font-weight: bold;
}
.form-control{
    font-weight: bold;
    font-size: 15px;
    padding: 8px 14px;
    height: 38px;
    color: #333;
}


/*HEADER*/
header{
    border-bottom: 1px dashed white;
}
nav.main-nav{
    display: flex;
    padding: 10px;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #292929;
}
nav ul.nav-right-block{
    display: flex;
    margin-bottom: 0px;
    flex-wrap: wrap;
}
nav ul.nav-right-block li{
    list-style-type: none;
    padding: 10px;
}
nav ul.nav-right-block li a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.breadcrumb{
    background: unset;
    font-size: 12px;
    position: absolute;
}
form.form-horizontal .control-label{
    color: white;
    margin-bottom: 5px;
}
.breadcrumb > .active {
    color: #292929;
    font-weight: bold;
}
.breadcrumb a{
    color: #292929;
    font-weight: bold;
    text-decoration: underline;
}
.breadcrumb > li + li:before {
    color: #292929;
}
/*HEADER (END)*/


/*FORM*/
form{
    background-color: #292929;
    padding: 40px 50px 50px 50px;
    border-radius: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 50%;
    margin-left: 25%;
    border: 1px dashed white;
}
textarea{
    resize: vertical;
}
.form-edit-photo img{
    max-width: 100%;
    max-height: 120px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid white;
}
.cke {
    border-radius: 20px;
    overflow: hidden;
    font-size: 15px;
    font-weight:bold;
}
/*FORM (END)*/

/*LOGIN*/
.form-button{
    background-color: #286090;
    border: 0px;
    color: white;
    padding: 7px 40px;
    font-weight: bold;
    border-radius: 20px;
}
div.div-form-button{
    display:flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.form-group{
    margin-bottom:15px;
}
.form-control{
    border-radius: 20px;
}
.radio label, .checkbox label {
    font-weight: bold;
}
/*LOGIN (END)*/

/*MAIN PAGE*/
.user_info{
    width: 100%;
    background-color: #ffd941;
    padding: 30px 0px 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px dashed #292929;
}
.all-profession{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 60px;
}
.all-profession h2{
    color: #292929;
    margin-top: 60px;
    margin-bottom: 50px;
}
.profession-info{
    display:flex;
    justify-content:flex-start;
    width:90%;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.profession-block{
    width: 27%;
    margin-right: 3.15%;
    position: relative;
    border: 1px solid #292929;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    overflow: hidden;
}
.block-on-background{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:0;
    background-color: #29292959;
}
.profession-block h4{
    z-index: 1;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #ffd941;
    font-weight: bold;
    position: relative;
}
figure.profession-photo{
    width:100%;
}
figure>img{
    width:100%;
}
a.show-profession{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}
a.show-profession img{
    width:40px;
    height:40px;
}
.banner-info{
    padding: 40px 20px;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_info_about dt.col-md-5{
    padding-left:0px;
}
.user_info_about>div{
    display:flex;
    margin-bottom: 7px;
}
.user_info_about>div dt{
    width:35%;
}
.user_info_about>div dd{
    width:65%;
}
.photo_user{
    margin-right: 20px;
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 3px solid white;
    min-width: 200px;
    background-position: center;
    background-size: cover;
}
a.edit-info{
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 12px;
}
.end-user-info{
    background-color: #1b1b1b;
    margin-top:80px;
    padding:150px 0px;
}
a.btn-add img{
    width: 70px;
    height: 70px;
}
/*MAIN PAGE*/


/*PROFESSION PAGE*/
.profession{
    padding: 100px 0px;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed #292929;
    background-color: white;
}
.prof-header{
    display: flex;
    width: 70%;
    min-height: 200px;
    padding: 40px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    margin-left: -30px;
    background-color: #ffd941;
    margin-right: 10px;
}
div.prof-photo{
    width: 30%;
    margin-left: 25px;
    background-size: cover;
    border-radius: 20px;
    margin-right: 20px;  
    border: 2px solid white;
}
.prof-about h3{
    margin-top: 0px;
}
#all-profession-elements{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.one-prof{
    border-radius: 20px;
    width: 27%;
    margin: 3.15%;
    min-height: 200px;
    background-color: white;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.one-prof h4 {
    z-index: 1;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: bold;
    position: relative;
}
div.profession-list-block{
    background-color: #295e90;
    padding: 40px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profession-list-block h2{
    padding-top:  -top:40px;
}
/*PROFESSION PAGE (END)*/

/*Element page*/
.one-element-block{
    margin: 100px 40px 80px 40px;
    border-radius: 20px;
    background-color: white;
    padding: 50px 50px 100px 50px;
}
.details-prof{   
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
}
.details-prof-photos{
    width:30%;
    margin-right:15px;
}
.prof-l-img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    background-size: cover;
    background-position: center;
}
.details-prof-about{
    width: calc(100% - 15px);
    color: #292929;
}
.details-prof-about h2{
    color: #292929;
    text-align: left;
}
.element-group-btn{
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
}
.element-group-btn a:last-child{
    margin-left:10px;
}
.element-group-btn img{
    width:40px;
    height:40px;
}
#all-elements-photo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#all-elements-photo>div{
    width: 12%;
    margin: 0px 1% 20px 1%;
    overflow: hidden;
    border-radius: 10px;
}
#all-elements-photo>div img{
    position:relative;
    max-height: 300px;
    max-width: 300px;
    cursor: pointer;
}
/*Element page*/


/*Modal window*/
.background-modal{
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: #383838b0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-window{
    background-color: white;
    width: 400px;
    padding: 20px 40px;
    color: #292929;
    font-weight: bold;
    border-radius:20px;
}
.modal-window form{
    width:100%;
    margin:unset;
    background-color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: flex-end;
}
/*Modal window (end)*/


/*GALERY*/
.background-galery{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #383838b0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}
.galery-block{
    width: 80%;
    margin: 0px 10%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}
.galery-block a{
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #292929;
    border: 2px solid white;
    color: white;
}
.galery-block a.left{
    position: absolute;
    top: calc(50% - 15px);
    left: 5px;
}
.galery-block a.right{
    position: absolute;
    top: calc(50% - 15px);
    right: 5px;
}
.galery-img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.close-img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
/*GALERY (END)*/


/* UPLOAD FILE FORM */
.upload-area{
    width: 100%;
    height: 200px;
    border: 2px dashed gray;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    overflow: auto;
}
.upload-area:hover{
    cursor:pointer;
}
.upload-area h4{
    text-align: center;
    font-weight: bold;
    color: #292929;
    margin-top: 30px;
}
#file{
    display: none;
}
.thumbnail{
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 3px;
    float: left;
}
.size{
    font-size:12px;
}
/* UPLOAD FILE FORM (END) */


div.container {
    width:100%;
    padding: 0px;
}

.footer {
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    background-color: #292929;
    border-top: 1px dashed white;
}
footer .copy-h6{
    text-align: center;
    font-weight: bold;
    margin-top: 2px;
}
.footer-fixed{
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
}


@media screen and (max-width: 1014px) and (min-width:768px) {
    form {
        width: 80%;
        margin-left: 10%;
    }
    #all-elements-photo>div {
        width: 18%;
        margin:0px 1% 20px 1%;
    }
    
}

@media screen and (max-width:768px) {
    form{
        width: 92%;
        margin: 70px 4%;
        padding: 20px 20px 30px 20px;
    }
    
    .banner-info{
        flex-direction: column;
        width:80%;
        padding: 0px;
    }
    
    div.profession-block{
        width:100%;
        margin:0px 0px 50px 0px;
    }
    div.profession-block:last-child{
        margin:0px;
    }
    
    /*PROFESSION PAGE*/
    .profession{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 80px 0px 60px 0px;
    }
    .prof-header{
        width: 100%;
        flex-wrap: wrap;
        padding-left: 55px;
        margin-bottom: 20px;
    }
    div.prof-photo{
        width: 100%;
        min-height: 200px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .one-prof{
        width: 46%;
        margin: 2%;
    }
    /*PROFESSION PAGE (END)*/
    
    /*Element page*/
    .details-prof{
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
    }
    .details-prof-photos{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }
    .details-prof-about{
        width: 100%;
        margin-top: 20px;
    }
    .prof-l-img {
        height: 200px;
    }
    .details-prof-about h2 {
        margin-bottom: 20px;
    }
    #all-elements-photo>div {
        width: 30%;
        margin: 0px 1.6% 20px 1.6%;
    }
    .one-element-block {
        padding: 20px 20px 60px 20px;
        margin: 60px 20px 40px 20px;
    }
    /*Element page*/
    
    
}


@media(max-width:420px) {
    #all-elements-photo>div {
        width: 46%;
        margin: 0px 2% 15px 2%;
    }
    
}


